* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightblue;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
 /* WebKit browsers */ 
color: red; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
/* Mozilla Firefox 4 to 18 */ 
color: red; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
 /* Mozilla Firefox 19+ */ 
color: red; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
 /* Internet Explorer 10+ */ 
color: red; 
} 

h2 {
	height: 50px;
	margin-top: 7px;
	margin-bottom: 40px;
	background-color: darkblue;
	color: white;
	line-height: 50px;
}

#content {
	width: 100%;
	text-align: center;
}

.info {
	padding: 5px 0;
}

.info input {
	width: 200px;
	height: 30px;
	border-radius: 15px;
	padding-left: 10px;
}

.info textarea {
	border-radius: 15px;
	padding-left: 10px;
}

#submit {
	margin:30px auto;
}

#submit input {
	width: 106px;
	height: 36px;
	background-color: #7ED321;
	color: #FFFFFF;
	border-radius: 15px;
	font-weight: bolder;
}

.left {
	width: 30%;
	height:38px;
	line-height:38px;
	float: left;
	text-align: right;
}

.right {
	text-align: left;
}

.right select {
	width: 213px;
	height: 30px;
	border-radius: 15px;
	padding-left: 10px;
}